---
import Main from "@/layouts/main.astro"
import Banner from "@/components/banner"
import ServicesContent from "@/components/content/ServicesContent"
---

<>
  <Main title="Diensten">
    <Banner title={"Diensten"} desc={"Alle diensten nemen plaats bij u thuis"} />
    <ServicesContent />
  </Main>
</>
