---
import Main from "@/layouts/main.astro"
import Banner from "@/components/banner"
import HomeContent from "@/components/content/HomeContent"
---

<>
  <Main title="Home">
    <Banner title={"HardwareHulp"} desc={"IT hulp aan huis in Kampen, Overijssel"} />
    <HomeContent />
  </Main>
</>
