---
import Main from "@/layouts/main.astro"
import Banner from "@/components/banner"
import PricingContent from "@/components/content/PricingContent"
---

<>
  <Main title="Tarieven">
    <Banner title={"Tarieven"} desc={"Alle tarieven zijn vrijgesteld van btw"} />
    <PricingContent />
  </Main>
</>
