---
import Main from "@/layouts/main.astro"
import Banner from "@/components/banner"
import ToolsContent from "@/components/content/ToolsContent"
---

<>
  <Main title="Tools">
    <Banner title={"Tools"} desc={"Handige tools voor technische ondersteuning"} />
    <ToolsContent />
  </Main>
</>
