---
import "../styles/tailwind.css"
const { title } = Astro.props
---

<html lang="nl-NL">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <slot />
  </body>
</html>
