---
import "@/styles/tailwind.css"

import { ViewTransitions } from "astro:transitions"

import MetaHead from "@/components/router-head/meta-head.astro"
import PrefetchHead from "@/components/router-head/prefetch-head.astro"

import Header from "@/components/header"
import Footer from "@/components/footer"

const { title, desc } = Astro.props
---

<html lang="nl-NL">
  <head>
    <title>{title} | HardwareHulp - IT hulp aan huis in Kampen, Overijssel</title>
    <meta
      name="description"
      content={desc
        ? desc
        : "IT gerelateerde hulp aan huis in Kampen, Overijssel. Computers gebouwd op maat, technische ondersteuning en meer! Neem contact op!"}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="preload"
      href="/fonts/raleway-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <MetaHead />
    <PrefetchHead />
    <ViewTransitions transition:animate="fade" fallback="swap" />
  </head>
  <body class="font-Raleway">
    <Header transition:name="header" />
    <slot />
    <Footer client:visible transition:name="footer" />
  </body>
</html>
