---
import "@/styles/tailwind.css"

import MetaHead from "@/components/router-head/meta-head.astro"
import PrefetchHead from "@/components/router-head/prefetch-head.astro"

import Header from "@/components/header"
import Footer from "@/components/footer"

const { title } = Astro.props
---

<html lang="nl-NL">
  <head>
    <title>{title} | HardwareHulp - IT hulp aan huis in Kampen, Overijssel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <MetaHead />
    <PrefetchHead />
  </head>
  <body>
    <Header client:idle />
    <slot />
    <Footer client:visible />
  </body>
</html>
